@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

:root{
    --color-orange: #FEB452;
    --color-white: #FFF; 
    --color-green: #0D6358;
    --color-light-green: #15A996;
    --color-gray: #F3F0EA;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Open Sans'; 
	font-size: 14px;
	overflow-x: hidden;
}

section{
	padding: 20px 0px 20px 0px;
}

.section-1{
	background-image: url("../assets/img-background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 50px 50px 80px 50px;
}

.section-1 h1, .section-1 h2, .section-1 h3{
	color: var(--color-orange);
	letter-spacing: 1px;
}

.section-1 p{
	color: var(--color-white);
}

.full-content{
	display: flex;
}

.left-content{
	flex: 1;
	text-align: center;
}

.right-content{
	flex: 1;
}

.div-border-left{
	padding-left: 20px;
	border-left: 1px solid var(--color-white);
}

.main-button{
	background-color: var(--color-orange);
	padding: 5px 20px 5px 20px;
	border-radius: 25px;
	border-color: transparent;
	font-size: 14px;
}

.section-2{
	text-align: center;
	background-color: var(--color-gray);
	position: relative;
}

.section-2 h1{
	color: var(--color-green);
}

.list{
	padding: 0px 150px 0px 150px;
}

.list ul{
	columns: 4;
	list-style: none;
}

.list li::before{
	content: "• ";
	color: var(--color-orange);
	padding-right: 10px;
}

.section-3{
	position: relative;
	background-color: orange;
	height: 100px;
}

.section-1:before, .section-2:before, .section-3:before{
    position: absolute;
    content:'';
}

.diagonal{
    z-index: 1;
    padding: 10px 0px 70px 0px;
}

.diagonal-1:before{
	transform: rotate(2deg);
	top: 0;
	left: -2%;
	z-index: -1;
	width: 210%;
	height: 75%;
	background: inherit;
}

.diagonal-2:before{
    transform: rotate(-2deg);
    transform-origin: 2% 0;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
}

.div-carousel {
	padding: 0px 50px 50px 50px;
}

.owl-carousel .item{
	background-image: url("../assets/img-carousel-1.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
	width: 100%;
	height: 350px;
}

.owl-nav{
	margin-top: 20px;
}

.owl-dots{
	display: inline-block;
}

.owl-nav button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline-style: none;
}

.owl-prev, .owl-next{
	font-size: 27px;
	color: var(--color-light-green);
}

.owl-dot span {
	width: 10px;
	height: 10px;
	display: block;
	transition: opacity .2s ease;
	border-radius: 30px;
	background-color: transparent !important;
	border: 1px solid var(--color-light-green);
}

.owl-dots .active span{
	background-color: var(--color-orange) !important;
	border: 1px solid var(--color-orange);
}

@media (min-width: 768px) and (max-width: 991.98px){
	.list ul{
		columns: 3;
	}
}

@media (max-width: 767.98px){
	.full-content{
		flex-direction: column;
	}

	.owl-dot{
		margin: -6px;
	}

	.list{
		padding: 0px;
	}

	.list ul{
		columns: 2;
	}
}